@import "../variables.scss";

.section {
    padding-bottom: 4rem;
    background-image: url("/images/contact/background-1.png");
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }

    .container {
        margin-top: 10rem;
        z-index: 1;
        position: relative;
        text-align: left;

        h2 {
            color: $color-light;
            display: inline-block;
            position: relative;
            font-weight: 700;
            font-size: 42px !important;

            // &:before {
            //     content      : "";
            //     position     : absolute;
            //     width        : 50%;
            //     height       : 1px;
            //     bottom       : 0;
            //     left         : 0;
            //     border-bottom: 2px solid $color-primary;
            // }
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: $color-light;
            width: 550px;
        }
    }

    .container_1 {
        margin-top: 10rem;
        z-index: 1;
        position: relative;
        text-align: left;

        h2 {
            color: $color-light;
            display: inline-block;
            position: relative;
            font-weight: 700;
            font-size: 42px !important;

            // &:before {
            //     content      : "";
            //     position     : absolute;
            //     width        : 50%;
            //     height       : 1px;
            //     bottom       : 0;
            //     left         : 0;
            //     border-bottom: 2px solid $color-primary;
            // }
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: $color-light;
            width: 700px;
        }
    }
}

@media only screen and (max-width: 640px) {
    .section {
        padding-bottom: 2rem;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.4);
        }

        .container {
            margin-top: 10rem;
            z-index: 1;
            position: relative;
            text-align: left;

            h2 {
                color: $color-light;
                display: inline-block;
                position: relative;
                // &:before {
                //     content      : "";
                //     position     : absolute;
                //     width        : 50%;
                //     height       : 1px;
                //     bottom       : 0;
                //     left         : 0;
                //     border-bottom: 2px solid $color-primary;
                // }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: $color-light;
                width: 100% !important;
            }
        }

        .container_1 {
            margin-top: 10rem;
            z-index: 1;
            position: relative;
            text-align: left;

            h2 {
                color: $color-light;
                display: inline-block;
                position: relative;
                font-weight: 700;
                font-size: 42px !important;

                // &:before {
                //     content      : "";
                //     position     : absolute;
                //     width        : 50%;
                //     height       : 1px;
                //     bottom       : 0;
                //     left         : 0;
                //     border-bottom: 2px solid $color-primary;
                // }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: $color-light;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .section {
        padding-bottom: 2rem;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.4);
        }

        .container {
            margin-top: 10rem;
            z-index: 1;
            position: relative;
            text-align: left;

            h2 {
                color: $color-light;
                display: inline-block;
                position: relative;
                // &:before {
                //     content      : "";
                //     position     : absolute;
                //     width        : 50%;
                //     height       : 1px;
                //     bottom       : 0;
                //     left         : 0;
                //     border-bottom: 2px solid $color-primary;
                // }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: $color-light;
                width: 100% !important;
            }
        }

        .container_1 {
            margin-top: 10rem;
            z-index: 1;
            position: relative;
            text-align: left;

            h2 {
                color: $color-light;
                display: inline-block;
                position: relative;
                font-weight: 700;
                font-size: 42px !important;

                // &:before {
                //     content      : "";
                //     position     : absolute;
                //     width        : 50%;
                //     height       : 1px;
                //     bottom       : 0;
                //     left         : 0;
                //     border-bottom: 2px solid $color-primary;
                // }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: $color-light;
                width: 100%;
            }
        }
    }
}