$color-primary    : #FF390C;
$color-secondary  : #666666;
$color-danger     : #d62f2f;
$color-success    : #55a630;
$color-info       : #FE7A0D;
$color-warning    : #1A1A1A;
$color-light      : #FFFFFF;
$color-dark-light : #eee;
$color-dark       : #001d3d;
$color-solid      : #F9F9F9;
$color-border     : #E3E3E3;
$color-black      : #1A1A1A;
$color-red        :#FF390C;